node_modules
.next
out
dist
build/*
!build/entitlements.mac.plist
!build/entitlements.mac.inherit.plist
.env.local
.DS_Store
*.p12
*.pfx
dist-capture
dist-capture-mac
public/roomboard/downloads/*.dmg
public/roomboard/downloads/*.exe
desktop/capture-helper-mac/.build
dist-stats-local/
dist-native-stats-mac/
native-stats-mac/
*.zip
.swift-module-cache/
ios/
public/stats-viewer/

# TS incremental build cache
tsconfig.tsbuildinfo
*.tsbuildinfo
